nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo-container {
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.logo-container img {
  width: 70px;
  height: 40px;
}
.logo-container p {
  margin-left: 15px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #0b0223;
}
.hub-title {
  color: rgb(247, 93, 119);
}
.menu-container {
  margin-right: 100px;
  display: flex;
  align-items: center;
}
.menu-container ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.menu-container ul li {
  margin-left: 50px;
}
.menu-container ul li img {
  width: 18px;
  margin-left: 15px;
}
.menu-container ul li a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
.follow-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.follow-us:hover {
  cursor: pointer;
  background-color: #ff42a5;
}
.banner-container {
  width: 100%;
  display: flex;
}
.banner-content {
  width: 50%;
  background-image: url(../images/Group\ 14.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 50px;
  text-align: left;
}
.banner-img {
  width: 45%;
}
.banner-img img {
  width: 100%;
}
.banner-title {
  margin-left: 100px;
  color: #0b0223;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.goat-title {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(141, 73, 141);
}
.banner-desc {
  margin-top: 20px;
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
  text-transform: lowercase;
  margin-left: 100px;
}
.btn-sign-in {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 30px;
  border: none;
  padding: 25px;
  border-radius: 48px;
  background: #ff42a5;
  margin-left: 100px;
}
.btn-sign-in:hover {
  cursor: pointer;
  background-color: #0b0223;
}
.btn-rogue {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 30px;
  border: none;
  padding: 25px;
  border-radius: 48px;
  background-color: #4ec5f7;
  margin-left: 10px;
}
.btn-rogue:hover {
  cursor: pointer;
  background-color: coral;
}

/* main section */

/* online games styles */
.online-games {
  width: 100%;
  margin-top: 100px;
}
.section-title {
  color: #0b0223;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.primary-pink {
  color: #f948b2;
  font-size: 2.5rem;
  font-weight: 700;
}
.section-desc {
  color: #534c64;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0px;
}
.card-container {
  width: 100%;
  display: flex;
}
.card img {
  width: 90%;
}
.card {
  margin-bottom: 10px;
  width: 100%;
  margin-left: 20px;
  margin-top: 30px;
}
.content img {
  width: 80px;
}
.content p {
  color: #0b0223;
}

.overlay {
  display: none;
  position: relative;
  bottom: 300px;
  left: 100px;
  background-color: #0b0223;
  transition: opacity 0.4s ease-in-out;
}
.card:hover {
  opacity: 0.7;
}
.card:hover .overlay {
  transition: opacity 0.4s ease-in-out;
  cursor: pointer;
  display: inline;
  background-color: #0b0223;
  opacity: 0.9;
  color: rgb(198, 167, 198);
}
.card:hover {
}
.card p {
  width: 80%;
  color: #534c64;
  font-size: 1rem;
  font-weight: 500;
}
.play-instantly {
  margin-top: 100px;
}
.container-instantly {
  display: flex;
  gap: 30px;
}
.instant-img img {
  width: 90%;
}
.instant-content {
  margin-left: 100px;
  width: 60%;
  padding-right: 50px;
}
.badge {
  position: relative;
  bottom: 200px;
  right: 70px;
}
.badge img {
  width: 220px;
}
.badge-container img {
  width: 250px;
}
.category-section {
}
.category-container {
  max-width: 100%;
  margin: 15px 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 10px;
  row-gap: 40px;
  flex-wrap: wrap;
}
.category {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
  border-radius: 50px;
  background: #fff;
}
.category-img {
}
.category-desc {
  color: #0b0223;
  font-size: 1rem;
  font-weight: 600;
}
.category-section h3 {
  max-width: 80%;
  margin: 0px auto;
  border-bottom: 2px solid #ff42a5;
  padding-bottom: 20px;
}
.category:hover {
  cursor: pointer;
  border: 1px solid #ff42a5;
  transition-duration: 0.5s;
  color: #f948b2;
}
.category p:hover {
  color: #f948b2;
}
footer {
  background: #0b0223;
  margin-top: 150px;
  padding-bottom: 80px;
}
.footer-container img {
  width: 80px;
  height: 35px;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-title {
  padding-left: 20px;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}
.about-us {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 55px;
}
.about-us p {
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
.icon-container {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  gap: 30px;
}
.icon-container img {
  width: 40px;
  padding: 10px;
}
.icon-container button {
  border-radius: 30%;
}
.icon-container button:hover {
  cursor: pointer;
  background-color: #ff42a5;
  border-radius: 80%;
}
#terms {
  padding-right: 10px;
}
#terms p {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
#footer-end {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  padding-top: 70px;
}
