/* for mobile */

@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
  }
  .logo-container {
    margin-left: 70px;
  }
  .menu-container ul {
    flex-direction: column;
  }
  .menu-container ul li {
    margin-left: 90px;
    margin-bottom: 25px;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-content {
    width: 100%;
  }
  .banner-img {
    width: 100%;
  }
  .banner-title,
  .banner-desc,
  .btn-sign-in {
    margin-left: 50px;
  }
  .card-container {
    flex-direction: column;
  }
  .container-instantly {
    flex-direction: column;
  }
  .instant-img {
    margin-left: 30px;
  }
  .badge img {
    width: 100px;
  }
  .badge {
    bottom: 100px;
    right: 30px;
  }
  .category-container {
    margin: 5px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .category {
    width: 60px;
  }
  .category-desc {
    font-size: 0.75rem;
    font-weight: 500;
  }
  .about-us {
    flex-direction: column;
  }
  .icon-container {
    flex-direction: column;
  }
  .icon-container button {
    border: none;
    border-radius: 2%;
  }
  #terms {
    margin-top: 30px;
  }
}

/* for tabs */
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav {
    flex-direction: column;
  }
  .logo-container {
    margin-left: 230px;
  }
  .menu-container ul {
    flex-direction: column;
  }
  .menu-container ul li {
    margin-left: 260px;
    margin-bottom: 25px;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-content {
    width: 100%;
  }
  .banner-img {
    width: 100%;
  }
  .banner-title,
  .banner-desc,
  .btn-sign-in {
    margin-left: 200px;
  }
  .card-container {
    flex-wrap: wrap;
  }
  .card {
    margin-left: 160px;
  }
  .card img {
    width: 70%;
  }
  .instant-content {
    margin-left: 20px;
  }
  .badge img {
    width: 100px;
  }
  .badge {
    bottom: 100px;
    right: 30px;
  }
}
